<IfModule mod_rewrite.c>
ErrorDocument 404 /404
RewriteEngine On
RewriteBase /

#RewriteCond %{HTTPS} !on
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

#url tong quan
RewriteRule ^login$ /?m=user&act=login [L]
RewriteRule ^admin-quanly$ /?m=user&act=staff_login [L]
#RewriteRule ^dang-ky/([0-9]+|)$ /?m=client&act=register&ref=$1 [L]
RewriteRule ^fund/([0-9]+|)/(.*)$ /?m=pub&act=fund&fid=$1&page=$2 [L]
#RewriteRule ^dang-ky$ /?m=client&act=register [L]

RewriteRule ^trang-chu$ /?m=home&act=index [L]
RewriteRule ^gio-hang$ /?m=cart&act=index [L]
RewriteRule ^thanh-toan$ /?m=cart&act=payment [L]
RewriteRule ^lien-he$ /?m=contact&act=index [L]

RewriteRule ^thong-tin$ /?m=user&act=profile [L]
RewriteRule ^thong-tin-thanh-toan$ /?m=user&act=paymentcard [L]
RewriteRule ^dang-nhap$ /?m=user&act=login [L]
RewriteRule ^dang-nhap/$ /?m=user&act=login [L]
RewriteRule ^dang-xuat$ /web_erp/logout.php [L]
RewriteRule ^dang-xuat/$ /web_erp/logout.php [L]
RewriteRule ^quen-mat-khau$ /?m=user&act=forgotpassword [L]
RewriteRule ^quen-mat-khau/$ /?m=user&act=forgotpassword [L]
RewriteRule ^dang-ky$ /?m=user&act=register [L]
RewriteRule ^dang-ky/$ /?m=user&act=register [L]
RewriteRule ^dang-ky/(.*)/([0-9]+)$ /?m=user&act=register&user_id=$1&member_group_id=$2 [L]
RewriteRule ^dang-ky/(.*)$ /?m=user&act=register&user_id=$1 [L]
RewriteRule ^dang-ky-tai-khoan$ /?m=user&act=register [L]
RewriteRule ^dang-ky-tai-khoan/(.*)$ /?m=user&act=register&user_id=$1 [L]
RewriteRule ^quan-ly-don-hang$ /?m=user&act=order [L]
RewriteRule ^thong-bao$ /?m=user&act=notification [L]
RewriteRule ^gioi-thieu$ /?m=about&act=index [L]
RewriteRule ^404$ /?m=orther&act=index [L]

#url theo ecosite
RewriteRule ^san-pham$ /?m=product&act=index [L]
RewriteRule ^san-pham/$ /?m=product&act=index [L]
RewriteRule ^san-pham/([0-9]+)$ /?m=product&act=index&page=$1 [L]
RewriteRule ^san-pham/([0-9]+)/$ /?m=product&act=index&page=$1 [L]
RewriteRule ^san-pham-rf(.*)$ /?m=product&act=index&referral=$1 [L]
RewriteRule ^san-pham-rf(.*)/([0-9]+)$ /?m=product&act=index&referral=$1&page=$2 [L]
RewriteRule ^(.*)-a([0-9]+)$ /?m=product&act=index&link=$1&cat_id=$2 [L]
RewriteRule ^(.*)-a([0-9]+)/([0-9]?)$ /?m=product&act=index&link=$1&cat_id=$2&page=$3 [L]
RewriteRule ^(.*)-b([0-9]+)$ /?m=product&act=detail&link=$1&id=$2 [L]
RewriteRule ^(.*)-b([0-9]+)/(.*)$ /?m=product&act=detail&link=$1&id=$2&referral=$3 [L]
# RewriteRule ^san-pham/keyword=(.*)$ /?m=product&act=search&keyword=$1 [L]
RewriteRule ^san-pham?keyword=(.*)$ /?m=product&act=search&keyword=$1 [L]

RewriteRule ^tin-tuc$ /?m=news&act=index [L]
RewriteRule ^tin-tuc/$ /?m=news&act=index [L]
RewriteRule ^tin-tuc/([0-9]+)$ /?m=news&act=index&page=$1 [L]
RewriteRule ^tin-tuc/([0-9]+)/$ /?m=news&act=index&page=$1 [L]
RewriteRule ^(.*)-c([0-9]+)$ /?m=news&act=index&link=$1&id=$2 [L]
RewriteRule ^(.*)-c([0-9]+)/([0-9]?)$ /?m=news&act=index&link=$1&id=$2&page=$3 [L]
RewriteRule ^(.*)-d([0-9]+)$ /?m=news&act=detail&link=$1&id=$2 [L]
RewriteRule ^(.*)-d([0-9]+)/$ /?m=news&act=detail&link=$1&id=$2 [L]
# RewriteRule ^tin-tuc/keyword=(.*)$ /?m=news&act=search&keyword=$1 [L]
RewriteRule ^tin-tuc?keyword=(.*)$ /?m=news&act=search&keyword=$1 [L]
#end url theo ecosite

RewriteRule ^album$ /?m=album&act=index [L]
RewriteRule ^album/$ /?m=album&act=index [L]
RewriteRule ^album/([0-9]+)$ /?m=album&act=index&page=$1 [L]
RewriteRule ^album/([0-9]+)/$ /?m=album&act=index&page=$1 [L]
RewriteRule ^(.*)-e([0-9]+)$ /?m=album&act=index&link=$1&id=$2 [L]
RewriteRule ^(.*)-e([0-9]+)/$ /?m=album&act=index&link=$1&id=$2 [L]
RewriteRule ^(.*)-f([0-9]+)$ /?m=album&act=detail&link=$1&id=$2 [L]
RewriteRule ^(.*)-f([0-9]+)/$ /?m=album&act=detail&link=$1&id=$2 [L]
# RewriteRule ^album/keyword=(.*)$ /?m=album&act=search&keyword=$1 [L]
RewriteRule ^album?keyword=(.*)$ /?m=album&act=search&keyword=$1 [L]

RewriteRule ^video$ /?m=video&act=index [L]
RewriteRule ^video/$ /?m=video&act=index [L]
RewriteRule ^video/([0-9]+)$ /?m=video&act=index&page=$1 [L]
RewriteRule ^video/([0-9]+)/$ /?m=video&act=index&page=$1 [L]
RewriteRule ^(.*)-g([0-9]+)$ /?m=video&act=index&link=$1&id=$2 [L]
RewriteRule ^(.*)-g([0-9]+)/$ /?m=video&act=index&link=$1&id=$2 [L]
RewriteRule ^(.*)-h([0-9]+)$ /?m=video&act=detail&link=$1&id=$2 [L]
RewriteRule ^(.*)-h([0-9]+)/$ /?m=video&act=detail&link=$1&id=$2 [L]
# RewriteRule ^video/keyword=(.*)$ /?m=video&act=search&keyword=$1 [L]
RewriteRule ^video?keyword=(.*)$ /?m=video&act=search&keyword=$1 [L]

RewriteRule ^bai-viet$ /?m=article&act=index [L]
RewriteRule ^bai-viet/$ /?m=article&act=index [L]
RewriteRule ^bai-viet/([0-9]+)$ /?m=article&act=index&page=$1 [L]
RewriteRule ^bai-viet/([0-9]+)/$ /?m=article&act=index&page=$1 [L]
RewriteRule ^(.*)-j([0-9]+)$ /?m=article&act=detail&link=$1&id=$2 [L]
RewriteRule ^(.*)-j([0-9]+)/$ /?m=article&act=detail&link=$1&id=$2 [L]
# RewriteRule ^bai-viet/keyword=(.*)$ /?m=article&act=search&keyword=$1 [L]
RewriteRule ^bai-viet?keyword=(.*)$ /?m=article&act=search&keyword=$1 [L]

#url card
#RewriteRule ^c/(.*)$ /?m=card&act=index&id=$1 [L]
#RewriteRule ^c/(.*)/$ /?m=card&act=index&id=$1 [L]
RewriteRule ^m/(.*)$ /?m=card&act=detail&token=$1 [L]
RewriteRule ^m/(.*)/$ /?m=card&act=detail&token=$1 [L]
RewriteRule ^chinh-sua-thong-tin-card$ /?m=card&act=edit&id=$1 [L]
RewriteRule ^chinh-sua-thong-tin-card/$ /?m=card&act=edit&id=$1 [L]
# dành riêng cho mkc
RewriteRule ^(.*).vndx$ /?m=card&act=index&id=$1 [L]
RewriteRule ^(.*).vndx/$ /?m=card&act=index&id=$1 [L]
# end dành riêng cho mkc
RewriteRule ^pro/(.*)$ /?m=card&act=index&id=$1 [L]
RewriteRule ^pro/(.*)/$ /?m=card&act=index&id=$1 [L]
RewriteRule ^v/(.*)$ /?m=card&act=view&id=$1 [L]
RewriteRule ^v/(.*)/$ /?m=card&act=view&id=$1 [L]

# MOMO
RewriteRule ^thong-tin-chi-tiet-don-hang$ /?m=cart&act=order_detail [L]

#config deeplink multi domain for sees
#RewriteRule ^apple-app-site-association$ /deeplinkhandle.php/?app_os=iOS [L]
#RewriteRule ^.well-known/assetlinks.json$ /deeplinkhandle.php/?app_os=Android [L]

# admin website
# DDT
#RewriteCond %{HTTP_HOST} ^http://(www\.)?daidongtienwebs\.sees.vn/$ [NC]
#RewriteCond %{HTTP_HOST} ^web_erp\.local$ [NC]
RewriteRule ^(([^/]+/)*[^.]+)$ /?m=redirect&act=index [L]

</IfModule>